@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  box-sizing: border-box; }
  * ::-webkit-scrollbar {
    width: 15px;
    height: 15px; }
  * ::-webkit-scrollbar-button {
    width: 10px;
    height: 10px; }
  * ::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, #b721ff 0%, #21d4fd 100%);
    border-radius: 5px; }
  * ::-webkit-scrollbar-thumb:hover {
    background: radial-gradient(circle, #21d4fd 0%, #b721ff 100%); }
  * ::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: inset 2px 30px 15px #f0f0f0; }

body {
  font-family: 'Poppins', sans-serif;
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  font-weight: 400;
  font-size: 16px; }
  @media screen and (max-width: 780px) {
    body {
      font-size: 13px; } }
  body .container {
    position: relative;
    display: flex;
    width: calc(100vw - 40px);
    max-width: 1366px;
    height: calc(100vh - 40px);
    margin: 20px auto;
    padding: 10px; }
    @media screen and (max-width: 780px) {
      body .container {
        width: 100%;
        height: auto;
        flex-direction: column;
        margin: 0; } }
    body .container .left_side {
      width: 350px;
      position: relative; }
      @media screen and (max-width: 780px) {
        body .container .left_side {
          width: 100%; } }
    body .container .right_side {
      width: calc(100% - 350px);
      position: relative;
      display: flex;
      align-items: center; }
      @media screen and (max-width: 780px) {
        body .container .right_side {
          width: 100%; } }

ul {
  padding: 0;
  margin-bottom: 0; }
  ul li {
    list-style: none;
    font-weight: 400;
    margin-bottom: 10px; }
    ul li:last-child {
      margin-bottom: 0; }

.tabs_nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 80px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden; }
  @media screen and (max-width: 780px) {
    .tabs_nav {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      display: flex;
      align-items: center;
      top: auto;
      transform: translate(0);
      justify-content: space-around;
      border-radius: 5px 5px 0 0;
      z-index: 99; } }
  .tabs_nav_item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    cursor: pointer;
    transition: all 0.3s; }
    .tabs_nav_item:not(:last-child)::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background: -webkit-radial-gradient(right, ellipse cover, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%); }
    .tabs_nav_item:hover {
      color: #b721ff;
      transform: scale(1.2);
      letter-spacing: -1px !important; }
    .tabs_nav_item-icon {
      margin-bottom: 5px; }
    .tabs_nav_item-text {
      font-weight: 600;
      font-size: 12px;
      text-transform: uppercase; }
    .tabs_nav_item--active {
      color: #b721ff; }

.skills_box {
  display: flex;
  flex-wrap: wrap; }
  .skills_box .skill_card {
    position: relative;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 700;
    color: #101018; }
    .skills_box .skill_card i {
      margin-right: 5px;
      color: #13294b; }

.img_box_prifile {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s;
  z-index: 1;
  width: calc(100% - 90px);
  margin-left: auto;
  background-color: #fff;
  height: 100%;
  overflow: hidden;
  border-radius: 5px; }
  @media screen and (max-width: 780px) {
    .img_box_prifile {
      width: 100%; } }
  .img_box_prifile::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: auto;
    border-radius: 5px 0 0 0;
    z-index: -1; }
  .img_box_prifile--image {
    transition: all 0.5s;
    display: block;
    width: 130%;
    height: auto; }
    @media screen and (max-width: 780px) {
      .img_box_prifile--image {
        height: calc(100vh - 60vh);
        width: 130%;
        object-fit: cover;
        object-position: top;
        position: relative;
        top: -15px; } }
  .img_box_prifile--name_box {
    position: relative;
    width: 100%;
    padding: 10px; }
    .img_box_prifile--name_box::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background: -webkit-radial-gradient(left, ellipse cover, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%); }
    .img_box_prifile--name_box span {
      display: block;
      text-align: center; }
  .img_box_prifile--name {
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px; }
  .img_box_prifile--career {
    margin-top: 10px;
    font-size: 13px; }
  .img_box_prifile--cv {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    .img_box_prifile--cv::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background: -webkit-radial-gradient(left, ellipse cover, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%); }
    .img_box_prifile--cv a {
      position: relative;
      text-decoration: none;
      color: #21d4fd;
      padding: 15px 10px; }
      .img_box_prifile--cv a:not(:last-child)::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 1px;
        background: -webkit-radial-gradient(right, ellipse cover, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%); }
  .img_box_prifile--social {
    position: relative;
    padding: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    @media screen and (max-width: 780px) {
      .img_box_prifile--social {
        margin-top: auto;
        justify-content: space-evenly;
        font-size: 20px; } }
    .img_box_prifile--social::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background: -webkit-radial-gradient(left, ellipse cover, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%); }
    @media screen and (max-width: 780px) {
      .img_box_prifile--social::before {
        content: none; } }

.tab_content {
  position: absolute;
  left: -280px;
  top: 0;
  width: 260px;
  background-color: #fff;
  margin-left: 20px;
  border-radius: 5px;
  padding: 15px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.5s;
  z-index: -1;
  opacity: 0; }
  .tab_content--show {
    width: calc(100% - 30px);
    position: relative;
    left: 0;
    opacity: 1;
    z-index: 1; }
    @media screen and (max-width: 870px) {
      .tab_content--show {
        min-height: calc(100vh - 81px);
        width: 100%;
        margin: 0; } }
  .tab_content--box {
    display: flex;
    flex-wrap: wrap; }
    .tab_content--box_about {
      flex: 1;
      padding: 10px;
      position: relative; }
      .tab_content--box_about::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 1px;
        background: -webkit-radial-gradient(left, ellipse cover, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%); }
  .tab_content--title {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 15px; }
    .tab_content--title::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background: -webkit-radial-gradient(left, ellipse cover, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%); }

.portfolio_box .portfolio_item {
  width: 32%;
  position: relative; }
  .portfolio_box .portfolio_item:first-child {
    width: 100%; }
  .portfolio_box .portfolio_item:hover a {
    color: #fff; }
  .portfolio_box .portfolio_item:hover img {
    height: auto;
    width: 200px;
    left: 50%;
    transition: all 0.5s;
    bottom: -75px;
    transform: translateX(-50%); }
  .portfolio_box .portfolio_item a {
    font-weight: 700;
    color: #101018;
    text-decoration: none;
    display: flex;
    justify-content: center;
    line-height: 22px; }
    .portfolio_box .portfolio_item a i {
      margin-right: 5px;
      color: #13294b;
      font-size: 25px; }
  .portfolio_box .portfolio_item img {
    transition: all 0.5s;
    width: 0;
    height: 0;
    position: absolute; }

.right_side {
  position: relative; }
  .right_side::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 20px;
    background-color: #fff;
    border-radius: 5px;
    z-index: -1; }
    @media screen and (max-width: 780px) {
      .right_side::before {
        content: none; } }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #13294b;
  z-index: 0;
  color: #fff;
  padding: 15px;
  text-align: center;
  font-weight: 400;
  font-size: 13px; }

/*# sourceMappingURL=style.css.map */
