.tab_content {
   position: absolute;
   left: -280px;
   top: 0;
   width: 260px;
   background-color: $white;
   margin-left: 20px;
   border-radius: 5px;
   padding: 15px;
   height: 100%;
   overflow-y: auto;
   overflow-x: hidden;
   transition: all 0.5s;
   z-index: -1;
   opacity: 0;

   &--show {
      width: calc(100% - 30px);
      position: relative;
      left: 0;
      opacity: 1;
      z-index: 1;

      @media screen and (max-width: 870px) {
         min-height: calc(100vh - 195px);
         //min-height: calc(100vh - 81px);
         width: 100%;
         margin: 0;
      }
   }

   &--box {
      display: flex;
      flex-wrap: wrap;

      &_item {
         flex: 1;
         padding: 10px;
         position: relative;
         &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 1px;
            background: -webkit-radial-gradient(
               left,
               ellipse cover,
               rgba(197, 202, 213, 0.7) 0%,
               rgba(255, 255, 255, 0) 70%
            );
         }
      }
   }

   &--title {
      position: relative;
      flex-shrink: 0;
      width: 100%;
      margin-top: 0;
      margin-bottom: 20px;
      padding-bottom: 15px;
      // background: -webkit-linear-gradient(90deg, #21d4fd 50%, #b721ff 100%);
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;

      &::before {
         content: '';
         position: absolute;
         bottom: 0;
         left: 0;
         height: 1px;
         width: 100%;
         background: -webkit-radial-gradient(
            left,
            ellipse cover,
            rgba(197, 202, 213, 0.7) 0%,
            rgba(255, 255, 255, 0) 70%
         );
      }
   }

   &--item_site {
      transition: all 0.5s;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 5px;
      position: relative;

      &:last-child {
         margin-right: 0;
      }

      &_image {
         max-width: 100%;
      }

      &_link {
         text-decoration: none;
         margin-top: 15px;
      }
   }
}
