.img_box_prifile {
   display: flex;
   flex-direction: column;
   align-items: center;
   cursor: pointer;
   transition: all 0.5s;
   z-index: 1;
   width: calc(100% - 90px);
   margin-left: auto;
   background-color: #fff;
   height: 100%;
   overflow: hidden;
   border-radius: 5px;

   @media screen and (max-width: $large) {
      width: 100%;
   }

   &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: var(--white);
      width: 100%;
      height: auto;
      border-radius: 5px 0 0 0;
      z-index: -1;
   }

   &--image {
      transition: all 0.5s;
      display: block;
      width: 130%;
      height: auto;

      @media screen and (max-width: $large) {
         height: calc(100vh - 60vh);
         width: 130%;
         object-fit: cover;
         object-position: top;
         position: relative;
         top: -15px;
      }
   }

   &--name_box {
      position: relative;
      width: 100%;
      padding: 10px;

      &::before {
         content: '';
         position: absolute;
         bottom: 0;
         left: 0;
         height: 1px;
         width: 100%;
         background: -webkit-radial-gradient(
            left,
            ellipse cover,
            rgba(197, 202, 213, 0.7) 0%,
            rgba(255, 255, 255, 0) 70%
         );
      }

      span {
         display: block;
         text-align: center;
      }
   }

   &--name {
      font-size: 18px;
      font-weight: 600;
      margin-top: 10px;
   }

   &--career {
      margin-top: 10px;
      font-size: 13px;
   }

   &--cv {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      &::before {
         content: '';
         position: absolute;
         bottom: 0;
         left: 0;
         height: 1px;
         width: 100%;
         background: -webkit-radial-gradient(
            left,
            ellipse cover,
            rgba(197, 202, 213, 0.7) 0%,
            rgba(255, 255, 255, 0) 70%
         );
      }

      a {
         position: relative;
         text-decoration: none;
         color: var(--blue);
         padding: 15px 10px;

         &:not(:last-child) {
            &::before {
               content: '';
               position: absolute;
               right: 0;
               top: 0;
               height: 100%;
               width: 1px;
               background: -webkit-radial-gradient(
                  right,
                  ellipse cover,
                  rgba(197, 202, 213, 0.7) 0%,
                  rgba(255, 255, 255, 0) 70%
               );
            }
         }
      }
   }

   &--social {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      padding: 15px;

      @media screen and (max-width: $large) {
         margin-top: auto;
         justify-content: space-evenly;
      }

      &::before {
         content: '';
         position: absolute;
         bottom: 0;
         left: 0;
         height: 1px;
         width: 100%;
         background: -webkit-radial-gradient(
            left,
            ellipse cover,
            rgba(197, 202, 213, 0.7) 0%,
            rgba(255, 255, 255, 0) 70%
         );
      }

      @media screen and (max-width: $large) {
         &::before {
            content: none;
         }
      }

      &__item_link {
         i {
            color: var(--purple);
            font-size: 18px;
            transition: all 0.5s;

            @media screen and (max-width: $large) {
               font-size: 20px;
            }
         }

         &:hover {
            i {
               transform: scale(1.4);
               color: var(--blue);
            }
         }
      }
   }
}
