.info_box {
   display: flex;
   flex-direction: column;

   .info_item {
      color: #101018;
      font-size: 15px;

      ul {
         padding: 0;
         margin-bottom: 0;

         li {
            list-style: none;
            font-weight: 400;
            margin-bottom: 10px;
            &:last-child {
               margin-bottom: 0;
            }
         }
      }
   }
}
