// General scss for Left Side Side
.left_side {
   width: 350px;
   position: relative;
   flex-shrink: 0;

   @media screen and (max-width: $large) {
      width: 100%;
   }
}

// Partials in Left Side
@import 'tabs/tabs_nav';
@import 'image_profile_card';
