@import './tabs/tab_content';
@import 'portfolio_box';

.right_side {
   position: relative;

   &::before {
      content: '';
      position: absolute;
      left: -250px;
      right: auto;
      top: 0;
      height: 100%;
      width: 20px;
      background-color: $white;
      border-radius: 5px;
      z-index: -1;
      transition: all 0.3s;
      opacity: 0;

      @media screen and (max-width: 780px) {
         content: none;
      }
   }

   &.open-side {
      &::before {
         transition: all 0.3s;
         right: 0;
         left: auto;
         opacity: 1;
      }
   }
}
