.skills_box {
   display: flex;
   flex-wrap: wrap;

   .skill_card {
      position: relative;
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      font-weight: 700;
      color: #101018;

      i {
         margin-right: 5px;
         color: #13294b;
      }
   }
}
